
#环境
NODE_ENV=development

DB_HOST=localhost
DB_DBNAME=dbMatchAdmin
DB_USERNAME=root
DB_PASSWORD=liuqiuyue1990

JWT_SECRET=dadasdw3req342edasdawfdwqadqwsz
GAME_DATA_BASE="game-data-base.develop.svc.cluster.local:5001"
APP_USER_BASE="app-user-base.production.svc.cluster.local:5001"

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=********
REDIS_NEEDPASS=0

TENTCENT_SECRET_ID=********
TENTCENT_SECRET_KEY=********

COS_BUCKET_PUBLIC=********
COS_BUCKET_PRIVATE=********
COS_REGION=********

#domain production
DOMAIN_PRODUCTION=********
#domain
DOMAIN=********
#Protocol
PROTOCOL=https
#directory>>>static
DIR_STATIC_IMAGES=static/images/

#pageSize
DB_PAGE_SIZE = 10

#max invite count
MAX_INVITE_COUNT=100

#smtp
SMTP_HOST=********
SMTP_FROM=********
SMTP_USER=********
SMTP_PASS=********

#coinbase
COINBASE_KEY=******
COINBASE_SECRET=******

#aws
AWS_ACCESS_KEY_ID=********
AWS_SECRET_ACCESS_KEY=********

#aliyun
ALIYUN_KEY=********
ALIYUN_SECRET=********

#recaptcha
RECAPTCHA_KEY=********
RECAPTCHA_SECRET=********
